@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Porsche';
    src: url(Fuentes/911porschav3.ttf);
}

.display-1 {
    font-family: 'Porsche';
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* =================NAVBAR================== */
#menu a {
    font-size: 14px;
    font-weight: bold;
    color: #3f3f3f
}

#menu a span {
    font-family: 'Porsche';
    font-weight: 300;
    font-size: 20px;
}

/* =================CAROUSEL================== */

.carousel-item img {
    object-fit: cover;
    max-height: 800px;
}
/* =================SECTIONS================== */


.album {
    max-height: 300px;
    overflow-y: auto;
  }