@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Porsche';
    src: url('../Fuentes/911porschav3.woff2') format('woff2'),
        url('../Fuentes/911porschav3.woff') format('woff'),
        url('../Fuentes/911porschav3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* -------------- body -------------- */

#bg-gradient {
    background-image: radial-gradient(circle at 8.21% 20.74%, #647371 0, #5d6463 25%, #535353 50%, #494244 75%, #40353a 100%); 
    padding-top: 80px;
}

.display-3 {
    font-family: 'Porsche', sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 4px;
}

#inicio .display-3 {
    color: yellow !important;
}

/* -------------- navbar -------------- */

.navbar-nav .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.navbar-brand {
    font-family: 'Porsche', sans-serif;
    font-size: 14px;
    color: yellow;
    letter-spacing: 4px;
}

.navbar {
    background: rgba(34, 34, 34, 0.25);

}


/* -------------- carrusel -------------- */

.carousel-item img {
    height: 80vh;
    object-fit: cover;
}



/* -------------- cards -------------- */
.card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
}

.card-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
}

.card-subtitle {
    font-family: 'Montserrat', sans-serif;
    color: rgb(202, 195, 195);
}


.transparent-card {
    background-color: rgba(255, 255, 255, 0.027);
    backdrop-filter: blur(10px);
    border: 0cm;

}

.transparent-card-review {
    background-color: rgba(255, 255, 255, 0.027);
    backdrop-filter: blur(10px);
    border: 0cm;


}

#nuestros-vehiculos {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* -------------- contacto -------------- */
form {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: white;
}

.btn {
    background: rgba(255, 0, 0, 0.25);
}

